html ,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

 /* Basemap buttons */  
.layerPanel {
    background-color:#CCCCCC;
    border-radius: 7px;
    position: absolute;
    top: 7px;
    right: 7px;
    padding:3px;
    z-index: 20000;
}
div.layerPanel div {
    display: inline;
    margin-left: 5px;
    cursor: pointer;
}
div.layerPanel div:after {
    font-weight: bold;
    font-size: 12px;
    font-family: arial;
    padding: 8px;
    color: #BFEFFF;
    line-height: 36px;
    border-radius: 5px 5px 5px 5px;
    background-color: #ccc;
    background: rgba(0,0,100,0.6);
}
div.layerPanel div.labelButtonItemInactive:after,
div.layerPanel div.labelButtonItemActive:after {
    content: 'Labels';
}
:lang(de) div.layerPanel div.labelButtonItemInactive:after,
:lang(de) div.layerPanel div.labelButtonItemActive:after {
    content: 'Text';
}
div.layerPanel div.labelButtonItemActive:after {
    text-decoration: underline;
    background: rgba(0,0,100,0.2);
}
div.layerPanel div.aerialButtonItemInactive:after,
div.layerPanel div.aerialButtonItemActive:after {
    content: 'Luchtofoto';
    border-radius: 5px 0 0 5px;
}
:lang(de) div.layerPanel div.aerialButtonItemInactive:after,
:lang(de) div.layerPanel div.aerialButtonItemActive:after {
    content: 'Luftbild';
}
div.layerPanel div.aerialButtonItemActive:after {
    text-decoration: underline;
    background: rgba(0,0,100,0.2);
}
div.layerPanel div.mapButtonItemInactive:after,
div.layerPanel div.mapButtonItemActive:after {
    content: 'Topo-Kaart';
    border-radius: 0 5px 5px 0;
}
:lang(de) div.layerPanel div.mapButtonItemInactive:after,
:lang(de) div.layerPanel div.mapButtonItemActive:after {
    content: 'Karte';
}
div.layerPanel div.mapButtonItemActive:after {
    text-decoration: underline;
    background: rgba(0,0,100,0.2);
}
div.layerPanel div.mapButtonItemInactive,
div.layerPanel div.mapButtonItemActive {
    margin-left: 1px;
}


.ui-content {
    padding: 0;
}
.ui-footer {
    text-align: center;
    padding: 5px 0;
}
.portrait, .portrait #mappage {

}
/*.portrait, .portrait .ui-page{*/
    /*min-height: 0;*/
/*}*/
#mappage, #mappage .ui-content, #map {
    width: 100%;
    height: 100%;
}
.olControlAttribution {
    font-size: 10px;
    bottom: 5px;
    right: 5px;
}
#navigation {
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1000;
}
#navigation .ui-btn-icon-notext {
    display: block;
    padding: 7px 6px 7px 8px;
}
#navigation2 {
    position: absolute;
    top: 1px;
    right: 3px;
    z-index: 1000;
}
#navigation2 .ui-btn-icon-notext {
    display: block;
    padding: 7px 6px 7px 8px;
}
.ui-btn-inner {
    padding: 5px 5px 5px 0px;
}
#title, #tags, #shortdesc {
    display: none;
}
.ui-icon-check {
    opacity: 0.3;
}
.checked .ui-icon-check {
    opacity: 1;
}
.ui-icon-locate {
    background-image: url('http://openlayers.org/dev/examples/img/locate.png');
}
.ui-icon-layers {
    background-image: url('http://openlayers.org/dev/examples/img/openlayers.png');
}
.ui-content .ui-listview-inset, #search_results {
    margin: 1em;
}
.ui-content .ui-listview {
    margin: 0;
}

.ui-btn.plus-btn {
    background: #575792;
}
.ui-btn.plus-btn .ui-btn-inner{
    background-color:#8091BB;
}

.ui-btn.min-btn {
    background: #575792;
}
.ui-btn.min-btn .ui-btn-inner{
    background-color:#8091BB;
}

#details-list li{
	padding:15px 10px;
}
